<h1>List of Top Games on twitch.tv</h1>

<table class="table">
<% @data.each do |game| %>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Viewers</th>
      <th>Channels</th>
    </tr>
  
    <tr>
      <td><%= image_tag game['game']['box']['large'] %></td>
      <td><%= game['game']['name'] %></td>
      <td><%= game['viewers'] %></td>
      <td><%= game['channels'] %></td>
    </tr>
<% end %>  
</table> 

